COMPOSE_KOMODO_IMAGE_TAG=2
COMPOSE_KOMODO_BACKUPS_PATH=/etc/komodo/backups
TZ=America/Sao_Paulo

## Banco
KOMODO_DATABASE_USERNAME=komodo
KOMODO_DATABASE_PASSWORD=<openssl rand -hex 24>

## Core
KOMODO_HOST=https://komodo.lgmateus.com
KOMODO_TITLE=srv1
KOMODO_PERIPHERY_PUBLIC_KEY=file:/config/keys/periphery.pub
KOMODO_LOCAL_AUTH=true
KOMODO_INIT_ADMIN_USERNAME=mateus
KOMODO_INIT_ADMIN_PASSWORD=<openssl rand -hex 16>
KOMODO_FIRST_SERVER_NAME=srv1
KOMODO_WEBHOOK_SECRET=<openssl rand -hex 24>
KOMODO_JWT_SECRET=<openssl rand -hex 32>
KOMODO_DISABLE_USER_REGISTRATION=true
KOMODO_ENABLE_NEW_USERS=false

## Periphery
PERIPHERY_CORE_ADDRESS=ws://core:9120
PERIPHERY_CONNECT_AS=${KOMODO_FIRST_SERVER_NAME}
PERIPHERY_CORE_PUBLIC_KEYS=file:/config/keys/core.pub
PERIPHERY_ROOT_DIRECTORY=/etc/komodo
PERIPHERY_DISABLE_TERMINALS=false
PERIPHERY_INCLUDE_DISK_MOUNTS=/etc/hostname
